# =========================

# Python

# =========================

**pycache**/
*.py[cod]
*$py.class

# C extensions

*.so

# =========================

# Virtual Environment

# =========================

.venv/
venv/
env/

# =========================

# Environment variables

# =========================

.env
.env.*

# =========================

# Database

# =========================

*.db
*.sqlite3

# =========================

# Pytest / Testing

# =========================

.pytest_cache/
.coverage
htmlcov/

# =========================

# Ruff / Linters

# =========================

.ruff_cache/

# =========================

# IDEs

# =========================

.vscode/
.idea/

# =========================

# OS files

# =========================

.DS_Store
Thumbs.db

# =========================

# Logs

# =========================

*.log

# =========================

# Build

# =========================

build/
dist/
*.egg-info/

# =========================

# Python packaging

# =========================

pip-wheel-metadata/
